[submodule "FoundrySolidity/SimpleStorage/lib/forge-std"]
	path = FoundrySolidity/SimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundrySolidity/FundMe/lib/forge-std"]
	path = FoundrySolidity/FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
