[submodule "FoundrySolidity/SimpleStorage/lib/forge-std"]
	path = FoundrySolidity/SimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundrySolidity/FundMe/lib/forge-std"]
	path = FoundrySolidity/FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundrySolidity/FundMe/lib/chainlink-brownie-contracts"]
	path = FoundrySolidity/FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundrySolidity/FundMe/lib/foundry-devops"]
	path = FoundrySolidity/FundMe/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "FoundrySolidity/Lottery/lib/forge-std"]
	path = FoundrySolidity/Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundrySolidity/Lottery/lib/chainlink-brownie-contracts"]
	path = FoundrySolidity/Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundrySolidity/ERC20/lib/forge-std"]
	path = FoundrySolidity/ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundrySolidity/ERC20/lib/openzeppelin-contracts"]
	path = FoundrySolidity/ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
